.home {
  /* background-color: violet; */
  padding-top: 60px;
  display: flex;
  align-items: center;

  margin: auto;
}

.pozaHome {
  width: 700px;
  height: auto;
}

.homePoza {
  width: 50%;
}

.designer {
  margin: 20px 0px;
  color: green;
}

.crs {
  font-size: 43px;
  font-weight: lighter;
  color: white;
}

.homeText {
  margin-left: 30px;
  width: 50%;
}

.designer {
  font-size: 50px;
  font-weight: bold;
}
