.home {
  /* background-color: violet; */
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.pozaHome {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.designer {
  color: green;
}

.crs {
  font-size: 43px;
  font-weight: lighter;
  color: white;
}

.homeText {
  margin: 5px;
  width: 50%;
}

.designer {
  font-size: 50px;
  font-weight: bold;
}
