.header {
  position: absolute;
  margin: 10px 40px 0px 40px;
  width: 96%;
  height: 50px;
  border-radius: 25px;
  display: flex; 
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  z-index: 2;
  flex-wrap: wrap;
}

.cristian {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.headerLeft {
  margin-left: 7px;
  display: flex;
  align-items: center;
}

.headerRight {
  background-color: none;
  display: flex;
  align-items: center;
}

.navButton {
  color: white;
  background-color: inherit;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  border: none;
  outline: none;
}

.navButtonCV {
  height: 48px;
  border-radius: 24px;
  width: 100%;
  border: 1px solid white;
  color: green;
  background-color: inherit;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;

  outline: none;
}

.navButton:hover,
.navButtonCV:hover {
  cursor: pointer;
}
