.aboutMe {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* background-color: hotpink; */
  color: white;
}

.picture {
  width: 400px;
  height: auto;
}

.aboutMePic {
  width: 100%;
}

.aboutMeText {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0px 80px 0px 30px;
  width: 30%;
  height: 100%;
}

.aboutMeH1 {
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 5px;
}

.aboutMeH {
  color: green;
  font-weight: bolder;
  font-size: 2em;
}

.row {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 5px 10px 5px 20px;
}
